<ul class="p-2 absolute top-[47px] left-[930px] hidden group-hover:block border-2 border-[#ccc]-600 rounded bg-[#fff]-700 z-auto shadow">
    <li class="hover:bg-amber-300">
        <span class="bg-rose-500 p-1 rounded">Edition</span>
        <ul class="p-1">
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">CSS</a></li>
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">HTML</a></li>
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">Javascript</a></li>
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">Ruby</a></li>
        </ul>
    </li>
    <li class="hover:bg-amber-300">
        <span class="bg-rose-500 p-1 rounded">Help</span>
        <ul class="p-1">
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">FAQ</a></li>
            <li class="border-b-1 border-b-gray-600"><a href="#" class="block">Contact Us</a></li>
        </ul>
    </li>
</ul>