<header class="flex justify-between p-3">
    <nav>
        <ul class="flex p-2">
            <li class="sections font-black">
                <a href="https://github.com">
                    <i class="fa-solid fa-burger pl-2 text-base hover:text-red-400"></i>
                    <span class="pl-0.5">Sections</span>
                </a>
            </li>
            <li class="search font-black">
                <a href="https://youtube.com">
                    <i class="fab fa-searchengin pl-2 text-base hover:text-red-400"></i>
                    <span class="pl-0.5">Search</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <button class=" subscribe_button rounded-md font-sans cursor-pointer white-space text-base font-medium bg-blue-500 
                    text-white p-1 hover:bg-blue-400 hover:transition-all duration-700 hover:border-2 border-sky-200 shadow-mg
                    hover:first-letter:uppercase">
                subscribe now
            </button>

            <li class="group inline">
                <button class="rounded-md font-sans cursor-pointer white-space text-base font-medium bg-red-500
                        text-white p-1 hover:bg-green-400 hover:transition-all duration-700 hover:border-2 border-sky-200 shadow-mg
                        hover:first-letter:uppercase log_in_button">
                    log in
                </button>
            </li>
            
            <li class="group inline">
                <a href="#">
                    <i class="fas fa-gears p-2 text-base hover:text-red-400 relative"></i>
                    <%= render "components/gear_dropdown" %>
                </a>
            </li>
        </ul>
    </nav>
</header>