<header class="flex flex-col align-center border-b-2 border-b-black p-2 relative">
    <nav class="absolute">
        <ul>
            <li><a href="https://ruby-lang.org">Ruby</a></li>
            <li><a href="https://html.com">HTML</a></li>
            <li><a href="https://javascript.com">JavaScript</a></li>
            <li><a href="https://python.org">Python</a></li>
        </ul>
    </nav>
    <img class="logo" src="/assets/AA_Times_Logo.png" alt="The new york times Logo">
    <ul class="mast_head_links">
        <li>
            <time>Tuesday, October 18, 2022</time>
        </li>
        <li>
            <i class="fas fa-newspaper"></i>
            <a href="https://newspaper.com">Today's Paper</a>
        </li>
        <li>    
            <i class="fas fa-video"></i>
            <a href="https://www.youtube.com">Video</a>
        </li>
        <li>
            <button>77°F</button>
        </li>
        <li>
            <button>AAO <strong>+100%</strong></button>
        </li>
    </ul>
</header>